* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  background-color: aliceblue;
}

header {
  background-color: #6943ff;
  color: white;
  display: grid;
  justify-content: center;
  padding: 1rem 0;
  row-gap: 1.5rem;
}

.number-input {
  max-width: 5rem;
  min-height: 4rem;
  justify-self: center;
  font-size: 3.5rem;
  font-weight: bold;
  padding: 0.5rem;
  text-align: center;
  background-color: #6943ff;
  color: white;
  border: 1px solid white;
}

.convert-btn {
  justify-self: center;
  min-width: 7rem;
  min-height: 2.5rem;
  border-radius: 6px;
  padding: 7px 12px;
  font-weight: bold;
}

.convert-btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.682);
}

.metrics-section {
  color: #5a537b;
  display: grid;
  row-gap: 0.4rem;
  justify-content: center;
  background-color: white;
  width: 22rem;
  height: 3rem;
  padding: 0.7rem 2rem;
  border-radius: 6px;
}

.metrics-section h3 {
  justify-self: center;
}

.container {
  display: grid;
  justify-content: center;
  row-gap: 20px;
  padding: 1rem;
}
